.home {
    display: flex;
    height: 100vh;
    .nav {
        width: 240px;
        border-right: 1px solid #cfcfcf;
        overflow: auto;
        .nav-item {
            line-height: 30px;
            font-size: 12px;
            overflow: hidden;
            cursor: pointer;
        }
    }
    .main {
        flex: 1;
        padding: 10px;
        overflow: auto;
    }
}

::-webkit-scrollbar{
    width:6px;
    height:10px;
    
  }
  ::-webkit-scrollbar-track{
    background: rgb(239, 239, 239);
    border-radius:2px;
  }
  ::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:6px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #333;
  }
  ::-webkit-scrollbar-corner{
    background: #179a16;
  }

